* {
  padding: 0%;
  margin: 0%;
}
h1 {
  text-decoration: underline;
}
input[type="text"],
select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
input[type="checkbox"],
select :hover {
  cursor: pointer;
}
.form {
  margin-top: 20px;
}
.add-btn {
  width: 70px;
  height: 38px;
  margin: 10px;
  background-color: black;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.Dlt-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  padding: 0;
  margin-left: 100px;
}
.Dlt-btn:hover {
  color: darkred;
}
.Dlt-btn i {
  font-size: 1.2em;
}
.add-btn:hover {
  background-color: rgb(109, 86, 240);
}
nav {
  margin-top: 35px;
  border-bottom: 2px solid grey;
  display: flex;
  justify-content: space-around;
}
nav,
a {
  font-weight: 600;
  font-size: 25px;
  color: black;
  text-decoration: none;
}
.Task-text {
  font-size: 20px;
  padding: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 500px;
}
